body{
    background-color: black;
}

.card{
    background-color: black;
    outline: white;
    outline-style:dotted;
}

.big-header{
    text-align: center;
    color: white;
}

.headers{
    color: white;
    margin-bottom: 2vh;
}

.text{
    text-align: center;
    color: white;
}

.navbar{
    margin-left: 5vw;
    margin-bottom: 3vh;
}

.nav-link{
    font-size: x-large;
    text-decoration: underline;
    color: white;
}

.get{
    margin-left: 5vw;
    padding: 2vw 2vh;
}

.getData{
    color: white;
}

.post{
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 2vw 2vh;
}

.update{
    margin-left: 5vw;
    padding: 2vw 2vh;
}

.delete{
    margin-left: 5vw;
    padding: 2vw 2vh;
}